{% extends 'base.html' %}

{%  block content %}
    <table>
    <tr>
        <td>Name:</td><td> {{ detail.name }}</td>
    </tr>
    <tr>
        <td>Year:</td><td> {{ detail.year }}</td>
    </tr>
    <tr>
        <td>Publisher:</td><td> <a href="{{ detail.publisher.get_detail_url }}"> {{ detail.publisher }}</a></td>
    </tr>
    <tr>
        <td>Genres:</td>
        <td><ul>
        {% for item in detail.genres.all %}
        <li><a href ='{{ item.get_detail_url }}'> {{ item.name }}</a></li>
        {% endfor %}
        </ul></td>

    </tr>
    <tr>
        <td>Platforms</td>
        <td><ul>
        {% for item in detail.platform.all %}
        <li><a href="{{ item.get_detail_url }}"> {{ item.name }}</a></li>
        {% endfor %}
        </ul></td>

    </tr>
    <tr>
        <td>EU sales:</td><td> {{ detail.eu_sales }}</td>
    </tr>
    <tr>
        <td>NA sales:</td><td> {{ detail.na_sales }}</td>
    </tr>
    <tr>
        <td>JP sales:</td><td> {{ detail.jp_sales }}</td>
    </tr>
    </table>

    <form method="post">
    {% csrf_token %}

    <td><input type="submit" value="Edit" name="_edit"></td>
    <td><input type="submit" value="Delete" name="_delete"></td>
    </form>
</tr>

{%  endblock %}