{% extends 'base.html' %}


<script>
    {% block jquery %}
        var endpoint = "/chart/{{ link }}"
        var defaultData = []
        var labels = []
        $.ajax({
            method: 'GET',
            url: endpoint,
            success: function (data) {
                console.log(data)
                labels = data.labels
                defaultData = data.data

                arrayOfObj = labels.map(function (d, i) {
                    return {
                        label: d,
                        data: defaultData[i] || 0
                    };
                });

                sortedArrayOfObj = arrayOfObj.sort(function (a, b) {
                    return b.data - a.data;
                });

                newArrayLabel = [];
                newArrayData = [];
                sortedArrayOfObj.forEach(function (d) {
                    newArrayLabel.push(d.label);
                    newArrayData.push(d.data);
                });






                var ctx = document.getElementById('gamesChart');
                var myChart = new Chart(ctx, {
                    type: 'horizontalBar',
                    data: {
                        labels: newArrayLabel,
                        datasets: [{
                            label: 'Total Sales',
                            data: newArrayData,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }
        })

    {% endblock %}
</script>

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <a href="/{{ link }}/add" class="btn btn-primary">Add</a>
            {% include 'object_list.html' %}
        </div>
        <div class="col-sm-6">
            <canvas id="gamesChart"></canvas>
        </div>
    </div>
{% endblock %}


